.responsive-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
}

@media (max-width: 768px) {
    .btn-text {
        display: none;
    }

    .responsive-btn{
        padding: 10px;
    }
}